html,
body {
    padding: 0;
    margin: 0 auto;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #f2f2f2;
}

.header__main {
    height: 737px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 17.3%;
    padding-bottom: 142px;
    background-image: url(/img/landskape_1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__box {
    width: 655px;
    height: 285px;
    margin: 0 auto;
    box-sizing: border-box;
    /* background-color: aqua; */
}

.header__title {
    width: 345px;
    height: 26px;
    margin: 0 auto;
    margin-top: 5px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 6.5px;
    color: #ffffff;
    /* background-color: hotpink; */
}

.header__form {
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 45px;
    padding: 0;
    border: 2px solid white;
    background-color: white;
}

.header__input {
    width: 504px;
    height: 62px;
    padding: 0;
    border: none;
    outline: none;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    background-color: white;
    letter-spacing: 2.8px;
    color: #9e9c9c;
}

.header__button {
    width: 150px;
    height: 62px;
    margin-right: 0;
    border: none;
    background: #5474fd;
    box-sizing: border-box;
    cursor: pointer;
}

.header__font_btn {
    margin-left: 25px;
    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #ffffff;
}

.header__button::after {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 20px;
    margin-left: 10px;
    color: #ffffff;
}

.header__scroll {
    width: 105px;
    height: 30px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header__scroll_link {
    text-decoration: none;
}

.header__scroll_text {
    height: 23px;
    margin-top: 105px;

    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.8px;
    color: #ffffff;
    box-sizing: border-box;
    transition-duration: 0.5s;
}

.header__scroll_text:hover {
    height: 50px;
    font-weight: bold;
    color:hotpink;
    }

.header__scroll_shevron {
    width: 16px;
    height: 12px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
}

/* section navigator */

.nav {
    height: 83px;
    /* width: 1770px; */
    margin-top: 0;
    margin: 0 auto;
    box-sizing: border-box;
    background-size: cover;
    background-color: #5474fd;
}

.nav__flex-container {
    max-width: 1140px;
    height: 83px;
    padding: 0;
    margin-top: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* background-color: skyblue; */
}

.nav__bhromaon {
    width: 170px;
    height: 26px;
    margin: auto 0;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.nav__empty {
    width: 400px;
    height: 26px;
}

.nav__whoweare {
    width: 135px;
    height: 26px;
    transition-duration: 0.5s;
}

.nav__transform:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
    font-weight: bold;
    color: darkblue;
}

.nav__whatwedo {
    width: 135px;
    height: 26px;
}

.nav__travel {
    width: 150px;
    height: 26px;
}

.nav__contactus {
    width: 88px;
    height: 26px;
}

.nav_font {
    margin: auto 0;
    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

/* Section 1 */

.choose_us {
    height: 685px;
    margin-top: 0px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 183px;
    background-image: url(/img/landskape_2.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.choose_us__box {
    width: 1110px;
    height: 460px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    /* background-color: skyblue; */
}

.choose_us__about {
    width: 545px;
    height: 350px;
    padding-top: 2px;
    /* background-color: darkkhaki; */
}

.choose_us__title {
    width: 288px;
    height: 26px;
    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    align-items: center;
    color: #ffffff;
}

.choose_us__text {
    width: 545px;
    height: 158px;
    margin-top: 45px;
    margin-bottom: 45px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 1.6px;
    color: #e8e8e8;
    /* background-color: darkgray; */
}

.properties__button {
    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    /* background-color: black; */
}

.button_standard {
    width: 228px;
    height: 63px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    background: -webkit-linear-gradient(
        45deg,
        rgb(73, 107, 254) 42%,
        rgb(84, 116, 253) 42%
    );
    background: -moz-linear-gradient(
        45deg,
        rgb(73, 107, 254) 42%,
        rgb(84, 116, 253) 42%
    );
    background: linear-gradient(
        45deg,
        rgb(73, 107, 254) 42%,
        rgb(84, 116, 253) 42%
    );
}

.choose_us__pictures {
    width: 450px;
    height: 460px;
    margin-top: -29px;
    display: flex;
    flex-wrap: wrap;
}

.picture_1 {
    margin-bottom: 10px;
}

.picture_2 {
    margin-left: 100px;
}

/* section 2 */

.select_places {
    height: 340px;
    padding-top: 48px;
    margin-top: 0px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #333333;
    background-size: cover;
}

.select__elements {
    width: 980px;
    height: 190px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    /* background-color: lightslategrey; */
}

.select__box {
    width: 220px;
    height: 145px;
    position: relative;
    /* background-color: burlywood; */
}

.select__symbol {
    width: 60px;
    height: 60px;
    padding: 0px;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 55px;
    font-weight: lighter;
    text-align: center;
    line-height: 55px;
    color: #e8e8e8;
}

.select__blue {
    color: #00a2ff;
}

.select__orang {
    color: #ff6363;
}

.select__text {
    width: 220px;
    height: 25px;
    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    color: #e8e8e8;
}

.select__curves {
    width: 700px;
    height: 65px;
    margin-left: 135px;
    margin-top: -15px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    }

.select__parabola {
    width: 300px;
    height: 100px;
    color: #7f7f7f;
    }


/* section_3 */

.spain {
    height: 700px;
    margin-top: 0px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 230px;
    padding-left: 18.6%;
    background-image: url(/img/landskape_3.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.spain__book {
    width: 540px;
    height: 370px;
    padding-top: 47px;
    padding-left: 30px;
    box-sizing: border-box;
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
    /* background-color: skyblue; */
}

.spain__country {
    width: 80px;
    height: 26px;
    margin-bottom: 23px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 1.5px;
    color: #e8e8e8;
}

.spain__title {
    width: 241px;
    height: 26px;
    margin-bottom: 13px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-transform: uppercase;
    color: #ffffff;
}

.spain__text {
    width: 508px;
    height: 78px;
    margin-bottom: 46px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    color: #e8e8e8;
}

/* section_4 */

.madrid {
    height: 698px;
    margin-top: 0px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 230px;
    padding-left: 50.9%;
    background-image: url(/img/landskape_4.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* section_5 */

.tourist_say {
    height: 730px;
    margin-top: 0px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 128px;
    background-image: url(/img/landskape_5.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tourist_say__title {
    width: 390px;
    height: 26px;
    margin: 0 auto;
    margin-bottom: 91px;
    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.tourist_say__box {
    width: 1140px;
    height: 284px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    background-color: #333333;
}

.picture_3 {
    width: 445px;
    background-position: bottom;
    }

.tourist_say__about {
    width: 668px;
    height: 284px;
    padding-left: 62px;
    padding-right: 25px;
    padding-bottom: 40px;
    box-sizing: border-box;
    /* background-color: mediumspringgreen; */
}

.tourist_say__person {
    width: 150px;
    height: 26px;
    margin-top: 49px;
    margin-bottom: 0px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-transform: uppercase;
    color: #fefefe;
    /* background-color: lightskyblue; */
}

.tourist_say__text {
    width: 581px;
    height: 165px;
    margin-top: 5px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    color: #fefefe;
}

.tourist_say__quotes {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    align-items: center;
    color: #5474fd;
}

/* section footer */

.footer {
    height: 271px;
    margin-top: 0px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 125px;
    background: #232323;
}

.footer__box {
    width: 200px;
    height: 100px;
    margin: 0 auto;
    /* background-color: lightskyblue; */
}

.footer__title {
    width: 175px;
    height: 26px;
    margin: 0 auto;
    margin-bottom: 8px;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 3.36px;
    text-transform: uppercase;
    color: #ffffff;
    /* background-color: mediumpurple; */
}

.footer__safe {
    width: 190px;
    height: 26px;
    margin: 0 auto;
    margin-bottom: 22px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 1.6px;
    color: #ffffff;
}

.footer_socialweb {
    width: 200px;
    height: 18px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.footer__webfont {
    width: 20px;
    height: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    background-size: 0.5%;
    cursor: pointer;
    color: white;
    /* background-color: white; */
}

.footer__facebook:hover {
    transform: scale(1.2);
    font-size: 22px;
    color: #3b5998;
}

.footer__twitter:hover {
    transform: scale(1.2);
    font-size: 22px;
    color: #1da1f2;
}

.footer__linkedin:hover {
    transform: scale(1.2);
    font-size: 22px;
    color: #0e76a8;
}

.footer__youtube:hover {
    transform: scale(1.2);
    font-size: 22px;
    background-color: white;
    color: #c4302b;
}

.footer__pinterest:hover {
    transform: scale(1.2);
    font-size: 22px;
    background-color: white;
    color: #e60023;
}
